/* Brand hover */
#name:hover span {
  display:none;
}

#name:hover:before {
  content: "उन्नति Data Labs";
}
/* END Brand hover */

/* Our styles */

.no-padding {
  padding: 0;
}

.mar-bottom-20 {
  margin-bottom: 20px;
}

.mar-top-60 {
  margin-top: 60px;
}

.mar-top-10 {
  margin-top: 10px;
}

.open-sans-font {
  font-family: 'Open Sans', 'Lato', sans-serif;
}

.merriweather-font {
  font-family: Merriweather, 'Helvetica Neue', Arial, sans-serif;
}

.line-height-1-5 {
  line-height: 1.5;
}

.font-size-80 {
  font-size: 80px;
}

.font-size-70 {
  font-size: 70px;
}

.font-size-60 {
  font-size: 60px;
}

.font-size-50 {
  font-size: 50px;
}

.font-size-42 {
  font-size: 42px;
}

.font-size-40 {
  font-size: 40px;
}

.font-size-30 {
  font-size: 30px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.lightest-gray-bg {
  background: #fafafa;
}

.l-r-padding-15 {
  padding: 15px 15px;
}

#team-container img {
  width: 60%;
  border: 4px solid #2e2e2e;
}

hr.separator {
  border-color: #2c3e50;
  border-width: 3px;
  max-width: 50px;
}

#curriculum .panel-heading {
  background-color: #2bace2;
  color: #fff;
}

#curriculum .panel-heading h4 {
  font-size: 20px;
}

#curriculum .panel-body {
  font-size: 18px;
}

/* END our styles */

/* Overrides of flatly theme */

a {
  color: #3498db;
}

a:hover {
  color: #3498db;
}

.nav.nav-pills.nav-stacked li a {
  text-decoration: underline;
  color: #2c3e50;
}

.nav.nav-pills.nav-stacked li.active a {
  color: #fff;
  text-decoration: none;
}

.navbar-default {
  background-color: #ba1a1a;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #fff;
  background: #981515;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  background: #981515;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: #981515;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  margin-bottom: 0px;
  text-align: justify;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #ccc;
  content: no-close-quote;;
  font-size: 1.2em;
  line-height: 0.1em;
  margin-top:1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.author {
    font-size: 18px;
    font-style: italic;
}

/* END Overrides of flatly theme */
