@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700,400italic);
body {
  margin: 0 auto;
  text-align: center;
  line-height: 25px;
  background-color: #363636;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}

.u-title {
  margin-top: 100px;
  margin-bottom: 20px;
}

.u-brand {
  font-size: 70px;
  font-weight: 100;
  color: #F39C12;
}

.u-tagline {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-offset-3 {
  margin-left: 15%;
  margin-right: 15%;
}

.col-offset-6 {
  margin-left: 30%;
  margin-right: 30%;
}

.text-justify {
  text-align: justify;
}

.text-center {
  text-align: center;
}

.u-body {
  font-size: 20px;
  line-height: 27px;
}

.u-head {
  font-size: 30px;
  font-weight: bold;
  margin: 20px;
}

a {
  color: #0CE3AC;
}

.u-border-dashed{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px dashed #4E4E4E;
  margin-left: 15%;
  margin-right: 15%;
}

.u-border{
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #4E4E4E;
  margin-left: 15%;
  margin-right: 15%;
}

.u-member {
  font-weight: 400;
  font-size: 20px;
}

.u-col {
  margin: 10px;
  line-height: 20px;
}

.u-circle{
  border-radius: 50%;
  width: 80px;
  margin-top: 15px;
}

/*
.u-lead {
  font-weight: 300;
}

.u-container {
  margin-top: 100px;
}

.u-text-big {
  font-size: 80px;
}

.u-border-bottom-dashed{
  border-bottom: 1px dashed #4E4E4E;
}

.u-border-bottom {
  border-bottom: 1px solid #4E4E4E;
}

.u-border-top {
  border-top: 1px solid #4E4E4E;
}

.u-text-container {
  padding: 15px 0;
  margin: 0;
}
*/
