/*
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,400italic);

body {
  line-height: 25px;
}

.u-lead {
  font-weight: 300;
}

.u-container {
  margin-top: 100px;
}

.u-text-big {
  font-size: 80px;
}

.u-border-bottom-dashed{
  border-bottom: 1px dashed #4E4E4E;
}

.u-border-bottom {
  border-bottom: 1px solid #4E4E4E;
}

.u-border-top {
  border-top: 1px solid #4E4E4E;
}

.u-text-container {
  padding: 15px 0;
  margin: 0;
}
*/
